<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div id="app">
        <!-- {{products}} -->
      <ul>
          <li v-for="product in products">
              {{ product.quantity }} {{ product.name }}
              <span v-if="product.quantity ===0">-OUT OF STOCK</span>
          </li>
      </ul>
      <h2>Total: {{ totalProducts }}</h2>
  </div>
  
  <script>
    const app= new Vue({
      el: "#app",
      data:{
        products: []
      },
      computed: {
        totalProducts(){//计算总数
            return this.products.reduce((sum, product)=>{
                return sum + product.quantity
            },0)
        }
      },
      created(){//获取数据
          fetch('https://api.myjson.com/bins/74l63')//返回promise对象response
            .then(response => response.json())//获取json内容
            .then(json => {
                this.products = json.products //给data数据
            })
      }
    })
    
  </script>
</body>
</html>